# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [106]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [110]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = pd.read_csv(url, sep=",")
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

### Step 4. Create columns for the dataset

In [112]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

iris.rename(columns={'5.1':'sepal_length', '3.5':'sepal_width', '1.4':'petal_length', '0.2':'petal_width','Iris-setosa':'class'}, inplace=True)

In [113]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

### Step 5.  Is there any missing value in the dataframe?

In [115]:
iris.isnull().value_counts()

sepal_length  sepal_width  petal_length  petal_width  class
False         False        False         False        False    149
Name: count, dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [121]:
iris.iloc[10:30,2:3] = np.nan

In [123]:
iris.iloc[10:30, 2:3]

    petal_length
10           NaN
11           NaN
12           NaN
13           NaN
14           NaN
15           NaN
16           NaN
17           NaN
18           NaN
19           NaN
20           NaN
21           NaN
22           NaN
23           NaN
24           NaN
25           NaN
26           NaN
27           NaN
28           NaN
29           NaN

### Step 7. Good, now lets substitute the NaN values to 1.0

In [135]:
iris.fillna(1.0, inplace=True)

In [137]:
iris.iloc[10:30,2:3]

    petal_length
10           1.0
11           1.0
12           1.0
13           1.0
14           1.0
15           1.0
16           1.0
17           1.0
18           1.0
19           1.0
20           1.0
21           1.0
22           1.0
23           1.0
24           1.0
25           1.0
26           1.0
27           1.0
28           1.0
29           1.0

### Step 8. Now let's delete the column class

In [139]:
iris.drop('class', axis=1)

     sepal_length  sepal_width  petal_length  petal_width
0             4.9          3.0           1.4          0.2
1             4.7          3.2           1.3          0.2
2             4.6          3.1           1.5          0.2
3             5.0          3.6           1.4          0.2
4             5.4          3.9           1.7          0.4
..            ...          ...           ...          ...
144           6.7          3.0           5.2          2.3
145           6.3          2.5           5.0          1.9
146           6.5          3.0           5.2          2.0
147           6.2          3.4           5.4          2.3
148           5.9          3.0           5.1          1.8

[149 rows x 4 columns]

### Step 9.  Set the first 3 rows as NaN

In [145]:
iris.iloc[0:3] = np.NaN

In [147]:
iris.iloc[0:3]

   sepal_length  sepal_width  petal_length  petal_width class
0           NaN          NaN           NaN          NaN   NaN
1           NaN          NaN           NaN          NaN   NaN
2           NaN          NaN           NaN          NaN   NaN

### Step 10.  Delete the rows that have NaN

In [166]:
iris.dropna(axis=0, inplace=True)

In [168]:
iris.head()

,level_0,index,sepal_length,sepal_width,petal_length,petal_width,class
3,3,3,5.0,3.6,1.4,0.2,Iris-setosa
4,4,4,5.4,3.9,1.7,0.4,Iris-setosa
5,5,5,4.6,3.4,1.4,0.3,Iris-setosa
6,6,6,5.0,3.4,1.5,0.2,Iris-setosa
7,7,7,4.4,2.9,1.4,0.2,Iris-setosa

### Step 11. Reset the index so it begins with 0 again

In [171]:
iris = iris.reset_index(drop=True)

In [173]:
iris.head()

,level_0,index,sepal_length,sepal_width,petal_length,petal_width,class
0,3,3,5.0,3.6,1.4,0.2,Iris-setosa
1,4,4,5.4,3.9,1.7,0.4,Iris-setosa
2,5,5,4.6,3.4,1.4,0.3,Iris-setosa
3,6,6,5.0,3.4,1.5,0.2,Iris-setosa
4,7,7,4.4,2.9,1.4,0.2,Iris-setosa

### BONUS: Create your own question and answer it.