# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [236]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [240]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [243]:
#change data type of item_price from object to float
fxn = lambda row: float(row[1:-1])
chipo['item_price'] = chipo['item_price'].apply(fxn)

In [245]:
#dropping any duplicate values with all 3 columns having same values
chipo_drop = chipo.drop_duplicates(['quantity', 'item_name', 'choice_description'])
#choose products > 10 and have a quantity of 1
products = chipo_drop[(chipo_drop['item_price']>10.00) & (chipo_drop['quantity']==1)]
#counting unique item names from products df
products['item_name'].nunique()

25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [248]:
chipo_unique = chipo.drop_duplicates(['item_name'])
price = chipo_unique.groupby('item_name')['item_price'].max()
price_df = price.reset_index()
price_df

                                item_name  item_price
0                       6 Pack Soft Drink        6.49
1                           Barbacoa Bowl       11.75
2                        Barbacoa Burrito        8.99
3                   Barbacoa Crispy Tacos       11.75
4                     Barbacoa Salad Bowl       11.89
5                     Barbacoa Soft Tacos        9.25
6                           Bottled Water        1.09
7                                    Bowl       22.20
8                                 Burrito        7.40
9                             Canned Soda        2.18
10                      Canned Soft Drink        1.25
11                          Carnitas Bowl        8.99
12                       Carnitas Burrito        8.99
13                  Carnitas Crispy Tacos        9.25
14                         Carnitas Salad        8.99
15                    Carnitas Salad Bowl       11.89
16                    Carnitas Soft Tacos        9.25
17                           Chicken Bowl       16.98
18                        Chicken Burrito        8.49
19                   Chicken Crispy Tacos        8.75
20                          Chicken Salad       10.98
21                     Chicken Salad Bowl        8.75
22                     Chicken Soft Tacos        8.75
23                                  Chips        2.15
24           Chips and Fresh Tomato Salsa        2.39
25                    Chips and Guacamole        4.45
26      Chips and Mild Fresh Tomato Salsa        3.00
27     Chips and Roasted Chili Corn Salsa        2.95
28     Chips and Roasted Chili-Corn Salsa        2.39
29  Chips and Tomatillo Green Chili Salsa        2.95
30    Chips and Tomatillo Red Chili Salsa        2.95
31  Chips and Tomatillo-Green Chili Salsa        2.39
32    Chips and Tomatillo-Red Chili Salsa        2.39
33                           Crispy Tacos        7.40
34                                   Izze        3.39
35                       Nantucket Nectar        3.39
36                                  Salad        7.40
37                          Side of Chips        1.69
38                             Steak Bowl        8.99
39                          Steak Burrito       11.75
40                     Steak Crispy Tacos        9.25
41                            Steak Salad        8.99
42                       Steak Salad Bowl       23.78
43                       Steak Soft Tacos        9.25
44                            Veggie Bowl       11.25
45                         Veggie Burrito       11.25
46                    Veggie Crispy Tacos        8.49
47                           Veggie Salad        8.49
48                      Veggie Salad Bowl       11.25
49                      Veggie Soft Tacos       11.25

### Step 6. Sort by the name of the item

In [251]:
sorted_df = price_df['item_name'].sort_values()
sorted_df.reset_index()

    index                              item_name
0       0                      6 Pack Soft Drink
1       1                          Barbacoa Bowl
2       2                       Barbacoa Burrito
3       3                  Barbacoa Crispy Tacos
4       4                    Barbacoa Salad Bowl
5       5                    Barbacoa Soft Tacos
6       6                          Bottled Water
7       7                                   Bowl
8       8                                Burrito
9       9                            Canned Soda
10     10                      Canned Soft Drink
11     11                          Carnitas Bowl
12     12                       Carnitas Burrito
13     13                  Carnitas Crispy Tacos
14     14                         Carnitas Salad
15     15                    Carnitas Salad Bowl
16     16                    Carnitas Soft Tacos
17     17                           Chicken Bowl
18     18                        Chicken Burrito
19     19                   Chicken Crispy Tacos
20     20                          Chicken Salad
21     21                     Chicken Salad Bowl
22     22                     Chicken Soft Tacos
23     23                                  Chips
24     24           Chips and Fresh Tomato Salsa
25     25                    Chips and Guacamole
26     26      Chips and Mild Fresh Tomato Salsa
27     27     Chips and Roasted Chili Corn Salsa
28     28     Chips and Roasted Chili-Corn Salsa
29     29  Chips and Tomatillo Green Chili Salsa
30     30    Chips and Tomatillo Red Chili Salsa
31     31  Chips and Tomatillo-Green Chili Salsa
32     32    Chips and Tomatillo-Red Chili Salsa
33     33                           Crispy Tacos
34     34                                   Izze
35     35                       Nantucket Nectar
36     36                                  Salad
37     37                          Side of Chips
38     38                             Steak Bowl
39     39                          Steak Burrito
40     40                     Steak Crispy Tacos
41     41                            Steak Salad
42     42                       Steak Salad Bowl
43     43                       Steak Soft Tacos
44     44                            Veggie Bowl
45     45                         Veggie Burrito
46     46                    Veggie Crispy Tacos
47     47                           Veggie Salad
48     48                      Veggie Salad Bowl
49     49                      Veggie Soft Tacos

### Step 7. What was the quantity of the most expensive item ordered?

In [254]:
most_expensive_item = chipo.groupby('item_name')[['quantity', 'item_price']].max()
most_expensive_item['quantity'].sort_values(ascending=False).head(1)

item_name
Chips and Fresh Tomato Salsa    15
Name: quantity, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [257]:
veggie = chipo[chipo['item_name']=='Veggie Salad Bowl'][['quantity', 'item_name', 'item_price']]
veggie['quantity'].sum()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [277]:
canned_soda = chipo[chipo['item_name']=='Canned Soda'][['quantity', 'item_name', 'item_price']]
times = canned_soda[canned_soda['quantity']>1]
times['quantity'].count()

20